body{
    margin: 0;
    display: flex; /*we used flexbox to center the main content on the page.*/    
    justify-content: center;
    background-color: rgb(5, 20, 73);
    color: white
}

.form{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    width: 400px;
    background-color:rgb(8, 255, 226);
    color: black;
    border-radius: 10px;
}

.input{
    width: 100%;
    box-sizing: border-box; /*box-sizing helps maintain proper width even after adding padding.*/
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.input::placeholder{
    color: lightgray;
}

.list{
    padding: 0;
    margin: 0;
}

.list li{ /*targets each task item.*/
    list-style-type: none;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: dotted;
    border-color: darkgray;
    position: relative; /*we used relative positioning so icons can be placed correctly inside each task item.*/
}

.list li .fa-trash{
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.list li .fa-check-square{ 
    color: green;
    position: absolute;
    right: 40px; /*places it slightly left of delete icon.*/
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked { /*applies when JavaScript adds the checked class.*/
    color: darkgray;
    text-decoration: line-through; /*when a task is completed, we add a class that applies line-through styling.*/
}

.list li.checked .fa-check-square{
    color: darkgray; /*makes check icon gray after completion*/
}

